/node_modules
/storage
# /public/build
/public/hot
/public/storage
/public/upload
/storage/*.key
/storage/app/gcs-credentials.json
/storage/app/credentials.json
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
# .cpanel.yml